name: Deploy docs to Pages

on:
    # Runs on pushes targeting the default branch
    push:
        branches: [ "main" ]
    
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4
                with:
                    distribution: temurin
                    java-version: 11
            -   uses: gradle/gradle-build-action@v2
            -   name: Build asciidocs
                run: ./gradlew :docs:asciidoctor
            -   uses: actions/configure-pages@v4
            -   uses: actions/upload-pages-artifact@v3
                with:
                    path: 'docs/build/docs'
            -   uses: actions/deploy-pages@v4
                id: deployment
                
